/* HTML page styling */
.navbar,#cities-bg,footer{
    background-color:rgb(1, 1, 45);
    
    }
    #statement{
        width:85%;
    }
 main{height: 100vh;}
 #alert,#name,#city,#newCity,#table{
    width:200px;
 }
 #output{
   min-height: 180px;
    height:auto;
    overflow: hidden;
 }
 /* JS styling */
 table{
   margin-left:50px;
   margin-top:10px;
}
   table,tr,td{
border: 1px solid black;
   } 

   
    